html, body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    z-index: -1;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

form {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #CECEF6;
    width: 8em;
    height: 3em;
    background: #0404B4;
    border: 0.1em solid rgb(255, 0, 0);
    border-radius: 2em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    z-index: 2;
    margin-top: .25em;
    display: inline-block;
}

#form-div {
    text-align: center;
}

input {
    border-radius: 1px;
    border: 0.1em solid rgb(255, 0, 0);
}

label {
    font-size: 32px;
    color:#CECEF6;
}

#game .screen {
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    padding-top: 1em;
    /* cursor: pointer; */
    font-size: 0.75em;
}

ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin: 0.8em 0;
}


ul li button {
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #CECEF6;
    width: 8em;
    height: 1.5em;
    background: #0404B4;
    border: 0.1em solid rgb(255, 0, 0);
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    z-index: 2;
    margin-top: .25em;
}

ul li button:hover {
    background: #2E2EFE;
    cursor: pointer;
}

ul li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);

}

ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.credit {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: black;
    margin-top: .5em;
}

ol li button {
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #CECEF6;
    width: 12em;
    height: 1.5em;
    background: #0404B4;
    border: 0.1em solid rgb(255, 0, 0);
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    z-index: 2;
    margin-top: .25em;
}

ol li button:hover {
    background: #2E2EFE;
}

ol li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);

}

#game div h1 {
    font-size: 5em;
    color: black;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#high-scores ol li {
    color: black;
    font-size: 3em;
}

#game div p {
    font-size: 0.5em;
}

#about p {
    text-align: center;
}